html.shaded {
  overflow: hidden;
  -ms-overflow-y: auto;

  #shade {
    opacity: 0.9;
    visibility: visible;
  }
}

#shade {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  background-color: #000;
}
