---
layout: dashboard-default
---

<section class="statistics">
  <header>
    <h2>캠페인 통계보기</h2>

    <div class="search-form">
      <form action="" id="statForm" name="statForm" method="POST" onsubmit="return false;">
        <div class="button-group">
          <label>
            <input type="radio" name="searchCondition" value="1">
            <span class="button-group-item">Monthly</span>
          </label>
          <label>
            <input type="radio" name="searchCondition" value="2">
            <span class="button-group-item">Daily</span>
          </label>
          <label>
            <input type="radio" name="searchCondition" value="3" checked>
            <span class="button-group-item">Hourly</span>
          </label>
        </div>

        <div class="date-picker">
          <div class="date-picker-with-icon">
            <input type="text" id="searchKeyword" name="searchKeyword" class="datepicker">
          </div>
        </div>

        <input type="submit" id="btnSearch" value="View">
      </form>
    </div>
  </header>

  <hr>

  <h6>2014-10-02 시간대별 통계</h6>

  <table class="statistics-table">
    <thead>
      <tr>
        <th>1시</th>
        <th>2시</th>
        <th>3시</th>
        <th>4시</th>
        <th>5시</th>
        <th>6시</th>
        <th>7시</th>
        <th>8시</th>
        <th>9시</th>
        <th>10시</th>
        <th>11시</th>
        <th>12시</th>
        <th>13시</th>
        <th>14시</th>
        <th>15시</th>
        <th>16시</th>
        <th>17시</th>
        <th>18시</th>
        <th>19시</th>
        <th>20시</th>
        <th>21시</th>
        <th>22시</th>
        <th>23시</th>
        <th>24시</th>
        <th>합계</th>
      </tr>
    </thead>
    <tbody>
      {% for stat in site.data.statistics %}
        <tr>
          <td colspan="25" class="stat-title"><a href="javascript:void(0)">{{stat.name}}</a></td>
        </tr>
        <tr class="stat-row">
          {% for hour in stat.hours %}
            <td>{{hour.value}}</td>
          {% endfor %}
          <td class="stat-total">{{stat.hour_total}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

<script>
  $(document).ready(function() {
    $('#searchKeyword').datepicker({
      showOn: 'both',
      defaultDate: '0',
      buttonImage: 'images/square-calendar-128-modified.png',
      buttonImageOnly: true,
      changeMonth: true,
      changeYear: true,
      showButtonPanel: true,
      dateFormat: 'yy-mm-dd',
      yearRange: 'c-10:c+00'
    });
  });
</script>
