---
layout: dashboard-default
---

<section class="statistics">
  <header>
    <h2>캠페인 통계보기</h2>

    <div class="search-form">
      <form action="" id="statForm" name="statForm" method="POST">
        <div class="button-group">
          <label>
            <input type="radio" name="searchCondition" value="1">
            <span class="button-group-item">Monthly</span>
          </label>
          <label>
            <input type="radio" name="searchCondition" value="2" checked>
            <span class="button-group-item">Daily</span>
          </label>
          <label>
            <input type="radio" name="searchCondition" value="3">
            <span class="button-group-item">Hourly</span>
          </label>
        </div>

        <div class="date-picker">
          <div class="date-picker-with-icon">
            <input type="text" id="searchKeyword" name="searchKeyword" class="datepicker">
          </div>
        </div>

        <input type="submit" id="#btnSearch" value="View">
      </form>
    </div>
  </header>

  <hr>

  <h6>2014-10 일별 통계</h6>

  <table class="statistics-table">
    <thead>
      <tr>
        <th>1일</th>
        <th>2일</th>
        <th>3일</th>
        <th>4일</th>
        <th>5일</th>
        <th>6일</th>
        <th>7일</th>
        <th>8일</th>
        <th>9일</th>
        <th>10일</th>
        <th>11일</th>
        <th>12일</th>
        <th>13일</th>
        <th>14일</th>
        <th>15일</th>
        <th>16일</th>
        <th>17일</th>
        <th>18일</th>
        <th>19일</th>
        <th>20일</th>
        <th>21일</th>
        <th>22일</th>
        <th>23일</th>
        <th>24일</th>
        <th>25일</th>
        <th>26일</th>
        <th>27일</th>
        <th>28일</th>
        <th>29일</th>
        <th>30일</th>
        <th>31일</th>
        <th>합계</th>
      </tr>
    </thead>
    <tbody>
      {% for stat in site.data.statistics %}
        <tr>
          <td colspan="32" class="stat-title"><a href="javascript:void(0)">{{stat.name}}</a></td>
        </tr>
        <tr class="stat-row">
          {% for day in stat.days %}
            <td>{{day.value}}</td>
          {% endfor %}
          <td class="stat-total">{{stat.day_total}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

<script>
  $(document).ready(function() {
    $('#searchKeyword').datepicker({
      showOn: 'both',
      defaultDate: '0',
      buttonImage: 'images/square-calendar-128-modified.png',
      buttonImageOnly: true,
      changeMonth: true,
      changeYear: true,
      showButtonPanel: true,
      dateFormat: 'yy-mm-dd',
      yearRange: 'c-10:c+00'
    });
  });
</script>
