---
layout: dashboard-default
---

<section class="statistics">
  <header>
    <h2>캠페인 통계보기</h2>

    <div class="search-form">
      <form action="" id="statForm" name="statForm" method="POST" onsubmit="return false;">
        <div class="button-group">
          <label>
            <input type="radio" name="searchCondition" value="1" checked>
            <span class="button-group-item">Monthly</span>
          </label>
          <label>
            <input type="radio" name="searchCondition" value="2">
            <span class="button-group-item">Daily</span>
          </label>
          <label>
            <input type="radio" name="searchCondition" value="3">
            <span class="button-group-item">Hourly</span>
          </label>
        </div>

        <div class="date-picker">
          <div class="date-picker-with-icon">
            <input type="text" id="searchKeyword" name="searchKeyword" class="datepicker">
          </div>
        </div>

        <input type="submit" id="btnSearch" value="View">
      </form>
    </div>
  </header>

  <hr>

  <h6>2014 월별 통계</h6>

  <table class="statistics-table">
    <thead>
      <tr>
        <th>1월</th>
        <th>2월</th>
        <th>3월</th>
        <th>4월</th>
        <th>5월</th>
        <th>6월</th>
        <th>7월</th>
        <th>8월</th>
        <th>9월</th>
        <th>10월</th>
        <th>11월</th>
        <th>12월</th>
        <th>합계</th>
      </tr>
    </thead>
    <tbody>
      {% for stat in site.data.statistics %}
        <tr>
          <td colspan="13" class="stat-title"><a href="javascript:void(0)">{{stat.name}}</a></td>
        </tr>
        <tr class="stat-row">
          {% for month in stat.months %}
            <td>{{month.value}}</td>
          {% endfor %}
          <td class="stat-total">{{stat.month_total}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

<script>
  $(document).ready(function() {
    $('#searchKeyword').datepicker({
      showOn: 'both',
      defaultDate: '0',
      buttonImage: 'images/square-calendar-128-modified.png',
      buttonImageOnly: true,
      changeMonth: true,
      changeYear: true,
      showButtonPanel: true,
      dateFormat: 'yy-mm-dd',
      yearRange: 'c-10:c+00'
    });
  });
</script>
