<ul class="choose-campaign-type">
  <li>
    <div class="campaign-type-icon"><img src="{{ "images/icon-video-campaign-2x.png" | prepend: site.baseurl }}" alt="" height="80px"></div>
    <p>스캔 이미지와 매칭되는 멋진 동영상을 사용자에게 보여줄 수 있습니다.</p>
    <a href="javascript:void(0)" class="button">동영상 캠페인 만들기</a>
  </li>
  <li>
    <div class="campaign-type-icon"><img src="{{ "images/icon-photo-campaign-2x.png" | prepend: site.baseurl }}" alt="" height="80px"></div>
    <p>스캔 이미지와 매칭되는 멋진 사진들을 최대 5장까지 보여줄 수 있습니다.</p>
    <a href="javascript:void(0)" class="button">사진 슬라이드 캠페인 만들기</a>
  </li>
</ul>
