<header class="header">
  <div class="inner-container">
    <div class="evar-logo">
      <a href="{{ "" | prepend: site.baseurl }}"><img src="{{ "images/logo-2x.png" | prepend: site.baseurl }}" alt="" width="121px"></a>
    </div>

    <nav>
      <a href="{{ "dashboard/campaigns.html" | prepend: site.baseurl }}" class="{% if page.path == "dashboard/campaigns.html" %}active{% endif %}">캠페인</a>
      <a href="{{ "dashboard/statistics.html" | prepend: site.baseurl }}" class="{% if page.path == "dashboard/statistics.html" %}active{% endif %}">통계</a>
      <a href="{{ "dashboard/settings.html" | prepend: site.baseurl }}" class="{% if page.path == "dashboard/settings.html" %}active{% endif %}">마이페이지</a>
    </nav>

    <div class="account-actions">
      <p><strong>홍성철</strong>님의 보유 포인트는 25,000P 입니다.</p>
      <label for="purchase-package">
        <span class="button primary">충전하기</span>
      </label>
      <a href="javascript:void(0)" class="button">로그아웃</a>
    </div>
  </div>
</header>

{% include dashboard/purchase-package-modal.html %}
