<footer class="footer">
  <div class="footer-links">
    <div class="inner-container">
      <div class="footer-logo">
        <img src="{{ "/images/footer-logo-2x.png" | prepend: site.baseurl }}" alt="" width="121px">
      </div>

      <ul class="page-links">
        <li><a href="#evar-studio">에바 스튜디오</a></li>
        <li><a href="#app-download">앱 다운로드</a></li>
        <li><a href="{{ "/terms-of-use.html" | prepend: site.baseurl }}">이용약관</a></li>
        <li><a href="{{ "/privacy-policy.html" | prepend: site.baseurl }}">개인정보취급방침</a></li>
      </ul>

      <ul class="social-links">
        <li class="blog-logo"><a href="{{ site.blog_url }}" target="_blank"><img src="{{ "/images/blog-logo-circle-2x.png" | prepend: site.baseurl }}" alt="" width="35px"></a></li>
        <li class="facebook-logo"><a href="{{ site.facebook_url }}" target="_blank"><img src="{{ "/images/facebook-logo-circle-2x.png" | prepend: site.baseurl }}" alt="" width="35px"></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-business-info">
    <div class="inner-container">
      <p><strong>사업자등록번호:</strong> 144-81-25799 &nbsp;&nbsp; <strong>대표:</strong> 황재순 &nbsp;&nbsp; <strong>주소:</strong> 경기도 성남시 분당구 대왕판교로 645번길 14 ㈜아이티피아이에스</p>
      <p><strong>제휴문의:</strong> 070-4015-4630 / evarstory@gmail.com &nbsp;&nbsp; <strong>계좌번호:</strong> 하나은행 134-910004-43405 ㈜아이티피아이에스</p>
      <p>Copyright 2014. ITPIS Inc. All Rights Reserved.</p>
    </div>
  </div>
</footer>
