<header class="header">
  <div class="inner-container">
    <div class="evar-logo">
      <a href="{{ "/" | prepend: site.baseurl }}"><img src="{{ "/images/logo-2x.png" | prepend: site.baseurl }}" alt="" width="121px"></a>

      <h4>The Evolution of Augmented Reality</h4>
    </div>

    <div class="header-right">
      <a href="javascript:void(0)">로그인</a>
    </div>

    <nav class="nav-buttons">
      <a href="#evar-studio" class="evar-studio">에바 스튜디오</a>
      <a href="#app-download" class="app-download">앱 다운로드</a>
    </nav>
  </div>
</header>
