<div id="evar-video-viewer" class="media-viewer">
  <a href="javascript:void(0)" class="close"><img src="{{ "/images/media-viewer/close-2x.png" | prepend: site.baseurl }}" alt="" width="45px"></a>

  <figure id="evar-video">
    <div class="table-wrapper">
      <div class="cell-wrapper">
        <div class="media-wrapper">
          <div class="media-stage">
            <div>
              <video id="evar-video-element" src="http://www.evar.co.kr/media/main.mp4" controls></video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </figure>

  <footer class="media-viewer-footer">
    <h3>지금 바로 에바의 놀라운 경험을 시작하세요!</h3>
    <a href="javascript:void(0)" class="button">에바 스튜디오 시작하기</a>
  </footer>
</div>

<div id="evar-use-cases-viewer" class="media-viewer">
  <a href="javascript:void(0)" class="close"><img src="{{ "/images/media-viewer/close-2x.png" | prepend: site.baseurl }}" alt="" width="45px"></a>
  <a href="javascript:void(0)" id="media-viewer-controller-left"><img src="{{ "/images/media-viewer/left-2x.png" | prepend: site.baseurl }}" alt="" width="24px"></a>
  <a href="javascript:void(0)" id="media-viewer-controller-right"><img src="{{ "/images/media-viewer/right-2x.png" | prepend: site.baseurl }}" alt="" width="24px"></a>

  <figure style="display: block">
    <div class="table-wrapper">
      <div class="cell-wrapper">
        <div class="media-wrapper">
          <aside><h3>토익강의</h3></aside>
          <div class="media-stage">
            <div>
              <a href="{{ "/images/use-cases/toeic.jpg" | prepend: site.baseurl }}" target="_blank">
                <img src="{{ "/images/use-cases/toeic.jpg" | prepend: site.baseurl }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </figure>

  <figure style="display: none">
    <div class="table-wrapper">
      <div class="cell-wrapper">
        <div class="media-wrapper">
          <aside><h3>월드컵 티셔츠</h3></aside>
          <div class="media-stage">
            <div>
              <a href="{{ "/images/use-cases/worldcup-tshirt.jpg" | prepend: site.baseurl }}" target="_blank">
                <img src="{{ "/images/use-cases/worldcup-tshirt.jpg" | prepend: site.baseurl }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </figure>

  <figure style="display: none">
    <div class="table-wrapper">
      <div class="cell-wrapper">
        <div class="media-wrapper">
          <aside><h3>트랜스포머 4</h3></aside>
          <div class="media-stage">
            <div>
              <a href="{{ "/images/use-cases/transformer-4.jpg" | prepend: site.baseurl }}" target="_blank">
                <img src="{{ "/images/use-cases/transformer-4.jpg" | prepend: site.baseurl }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </figure>

  <figure style="display: none">
    <div class="table-wrapper">
      <div class="cell-wrapper">
        <div class="media-wrapper">
          <aside><h3>골프장 홀소개</h3></aside>
          <div class="media-stage">
            <div>
              <a href="{{ "/images/use-cases/golf-courses.jpg" | prepend: site.baseurl }}" target="_blank">
                <img src="{{ "/images/use-cases/golf-courses.jpg" | prepend: site.baseurl }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </figure>

  <figure style="display: none">
    <div class="table-wrapper">
      <div class="cell-wrapper">
        <div class="media-wrapper">
          <aside><h3>모델하우스</h3></aside>
          <div class="media-stage">
            <div>
              <a href="{{ "/images/use-cases/model-house.jpg" | prepend: site.baseurl }}" target="_blank">
                <img src="{{ "/images/use-cases/model-house.jpg" | prepend: site.baseurl }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </figure>

  <figure style="display: none">
    <div class="table-wrapper">
      <div class="cell-wrapper">
        <div class="media-wrapper">
          <aside><h3>명함</h3></aside>
          <div class="media-stage">
            <div>
              <a href="{{ "/images/use-cases/business-card.jpg" | prepend: site.baseurl }}" target="_blank">
                <img src="{{ "/images/use-cases/business-card.jpg" | prepend: site.baseurl }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </figure>

  <figure style="display: none">
    <div class="table-wrapper">
      <div class="cell-wrapper">
        <div class="media-wrapper">
          <aside><h3>청첩장</h3></aside>
          <div class="media-stage">
            <div>
              <a href="{{ "/images/use-cases/wedding-card.jpg" | prepend: site.baseurl }}" target="_blank">
                <img src="{{ "/images/use-cases/wedding-card.jpg" | prepend: site.baseurl }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </figure>

  <figure style="display: none">
    <div class="table-wrapper">
      <div class="cell-wrapper">
        <div class="media-wrapper">
          <aside><h3>초대장</h3></aside>
          <div class="media-stage">
            <div>
              <a href="{{ "/images/use-cases/invitation-card.jpg" | prepend: site.baseurl }}" target="_blank">
                <img src="{{ "/images/use-cases/invitation-card.jpg" | prepend: site.baseurl }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </figure>

  <figure style="display: none">
    <div class="table-wrapper">
      <div class="cell-wrapper">
        <div class="media-wrapper">
          <aside><h3>역린 2</h3></aside>
          <div class="media-stage">
            <div>
              <a href="{{ "/images/use-cases/film-fatal-encounter.jpg" | prepend: site.baseurl }}" target="_blank">
                <img src="{{ "/images/use-cases/film-fatal-encounter.jpg" | prepend: site.baseurl }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </figure>

  <figure style="display: none">
    <div class="table-wrapper">
      <div class="cell-wrapper">
        <div class="media-wrapper">
          <aside><h3>신의 한 수</h3></aside>
          <div class="media-stage">
            <div>
              <a href="{{ "/images/use-cases/film-divine-move.jpg" | prepend: site.baseurl }}" target="_blank">
                <img src="{{ "/images/use-cases/film-divine-move.jpg" | prepend: site.baseurl }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </figure>

  <figure style="display: none">
    <div class="table-wrapper">
      <div class="cell-wrapper">
        <div class="media-wrapper">
          <aside><h3>타히티 오빤내꺼</h3></aside>
          <div class="media-stage">
            <div>
              <a href="{{ "/images/use-cases/tahiti-3rd-single.jpg" | prepend: site.baseurl }}" target="_blank">
                <img src="{{ "/images/use-cases/tahiti-3rd-single.jpg" | prepend: site.baseurl }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </figure>

  <figure style="display: none">
    <div class="table-wrapper">
      <div class="cell-wrapper">
        <div class="media-wrapper">
          <aside><h3>그레이스 오브 모나코</h3></aside>
          <div class="media-stage">
            <div>
              <a href="{{ "/images/use-cases/film-grace-of-monaco.jpg" | prepend: site.baseurl }}" target="_blank">
                <img src="{{ "/images/use-cases/film-grace-of-monaco.jpg" | prepend: site.baseurl }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </figure>

  <figure style="display: none">
    <div class="table-wrapper">
      <div class="cell-wrapper">
        <div class="media-wrapper">
          <aside><h3>K2 플라이워크</h3></aside>
          <div class="media-stage">
            <div>
              <a href="{{ "/images/use-cases/k2-flywalk.jpg" | prepend: site.baseurl }}" target="_blank">
                <img src="{{ "/images/use-cases/k2-flywalk.jpg" | prepend: site.baseurl }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </figure>

  <figure style="display: none">
    <div class="table-wrapper">
      <div class="cell-wrapper">
        <div class="media-wrapper">
          <aside><h3>BACARDI BLACK</h3></aside>
          <div class="media-stage">
            <div>
              <a href="{{ "/images/use-cases/bacardi-black.jpg" | prepend: site.baseurl }}" target="_blank">
                <img src="{{ "/images/use-cases/bacardi-black.jpg" | prepend: site.baseurl }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </figure>

  <figure style="display: none">
    <div class="table-wrapper">
      <div class="cell-wrapper">
        <div class="media-wrapper">
          <aside><h3>BACARDI LIMON</h3></aside>
          <div class="media-stage">
            <div>
              <a href="{{ "/images/use-cases/bacardi-limon.jpg" | prepend: site.baseurl }}" target="_blank">
                <img src="{{ "/images/use-cases/bacardi-limon.jpg" | prepend: site.baseurl }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </figure>

  <figure style="display: none">
    <div class="table-wrapper">
      <div class="cell-wrapper">
        <div class="media-wrapper">
          <aside><h3>TOP 커피</h3></aside>
          <div class="media-stage">
            <div>
              <a href="{{ "/images/use-cases/top-coffee.jpg" | prepend: site.baseurl }}" target="_blank">
                <img src="{{ "/images/use-cases/top-coffee.jpg" | prepend: site.baseurl }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </figure>

  <figure style="display: none">
    <div class="table-wrapper">
      <div class="cell-wrapper">
        <div class="media-wrapper">
          <aside><h3>참이슬 후레쉬</h3></aside>
          <div class="media-stage">
            <div>
              <a href="{{ "/images/use-cases/chamisul.jpg" | prepend: site.baseurl }}" target="_blank">
                <img src="{{ "/images/use-cases/chamisul.jpg" | prepend: site.baseurl }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </figure>

  <figure style="display: none">
    <div class="table-wrapper">
      <div class="cell-wrapper">
        <div class="media-wrapper">
          <aside><h3>처음처럼</h3></aside>
          <div class="media-stage">
            <div>
              <a href="{{ "/images/use-cases/soft-soju.jpg" | prepend: site.baseurl }}" target="_blank">
                <img src="{{ "/images/use-cases/soft-soju.jpg" | prepend: site.baseurl }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </figure>

  <figure style="display: none">
    <div class="table-wrapper">
      <div class="cell-wrapper">
        <div class="media-wrapper">
          <aside><h3>LG 페리오</h3></aside>
          <div class="media-stage">
            <div>
              <a href="{{ "/images/use-cases/lg-perio.jpg" | prepend: site.baseurl }}" target="_blank">
                <img src="{{ "/images/use-cases/lg-perio.jpg" | prepend: site.baseurl }}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </figure>

  <footer class="media-viewer-footer">
    <h3>에바 모바일 앱 설치 후 화면을 스캔해보세요!</h3>
    <a href="javascript:void(0)" class="button" target="_blank">안드로이드 앱</a>
  </footer>
</div>
