<div class="tab-content-container">
  <p class="tab-content-copy">1포인트는 200원 <b>사용자가 동영상 1회 스캔시 1포인트가 차감됩니다.</b></p>

  <ul>
    <li class="pricing-box">
      <h3>5,000원 결제시</h3>
      <div class="pricing-point">
        <h1>25</h1>
        <p><span class="highlight">25 에바포인트</span> 충전</p>
        <a href="javascript:void(0)" class="button">결제하기</a>
      </div>
    </li>
    <li class="pricing-box">
      <h3>10,000원 결제시</h3>
      <div class="pricing-point">
        <h1>50</h1>
        <p><span class="highlight">50 에바포인트</span> 충전</p>
        <a href="javascript:void(0)" class="button">결제하기</a>
      </div>
    </li>
    <li class="pricing-box">
      <h3>50,000원 결제시</h3>
      <div class="pricing-point">
        <h1>255</h1>
        <p><span class="highlight">255 에바포인트</span> 충전</p>
        <span class="side-text">2% 추가적립</span>
        <a href="javascript:void(0)" class="button">결제하기</a>
      </div>
    </li>
    <li class="pricing-box">
      <h3>100,000원 결제시</h3>
      <div class="pricing-point">
        <h1>520</h1>
        <p><span class="highlight">520 에바포인트</span> 충전</p>
        <span class="side-text">4% 추가적립</span>
        <a href="javascript:void(0)" class="button">결제하기</a>
      </div>
    </li>
  </ul>
</div>
