<div class="tab-content-container">
  <p class="tab-content-copy">많은 기업에서 에바를 통해 효과적인 마케팅을 진행하고 있습니다.</p>

  <ul>
    <li class="partner-logo"><img src="{{ "images/partner-logos/neowiz.png" | prepend: site.baseurl }}"></li>
    <li class="partner-logo"><img src="{{ "images/partner-logos/wemakeprice.png" | prepend: site.baseurl }}"></li>
    <li class="partner-logo"><img src="{{ "images/partner-logos/kt.png" | prepend: site.baseurl }}"></li>
    <li class="partner-logo"><img src="{{ "images/partner-logos/kt-commerce.png" | prepend: site.baseurl }}"></li>
    <li class="partner-logo"><img src="{{ "images/partner-logos/statistics-korea.png" | prepend: site.baseurl }}"></li>
    <li class="partner-logo"><img src="{{ "images/partner-logos/supreme-court-of-korea.png" | prepend: site.baseurl }}"></li>
    <li class="partner-logo"><img src="{{ "images/partner-logos/bacardi.png" | prepend: site.baseurl }}"></li>
    <li class="partner-logo"><img src="{{ "images/partner-logos/ahnlab.png" | prepend: site.baseurl }}"></li>
    <li class="partner-logo"><img src="{{ "images/partner-logos/lh.png" | prepend: site.baseurl }}"></li>
    <li class="partner-logo"><img src="{{ "images/partner-logos/gs-shop.png" | prepend: site.baseurl }}"></li>
    <li class="partner-logo"><img src="{{ "images/partner-logos/naver.png" | prepend: site.baseurl }}"></li>
    <li class="partner-logo"><img src="{{ "images/partner-logos/hicar-direct.png" | prepend: site.baseurl }}"></li>
    <li class="partner-logo"><img src="{{ "images/partner-logos/sk-cnc.png" | prepend: site.baseurl }}"></li>
    <li class="partner-logo"><img src="{{ "images/partner-logos/tmon.png" | prepend: site.baseurl }}"></li>
    <li class="partner-logo"><img src="{{ "images/partner-logos/lg-uplus.png" | prepend: site.baseurl }}"></li>
    <li class="partner-logo"><img src="{{ "images/partner-logos/korea-university-medical-center.png" | prepend: site.baseurl }}"></li>
    <li class="partner-logo"><img src="{{ "images/partner-logos/at.png" | prepend: site.baseurl }}"></li>
    <li class="partner-logo"><img src="{{ "images/partner-logos/seoul-metropolitan-office-of-education.png" | prepend: site.baseurl }}"></li>
  </ul>
</div>
